<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Euro-millions Bet Generator</title>
		<meta name="keywords" content="euro,millions,bet,generator,random,fibonacci,prime,numbers">
		<meta name="description" content="Quantum fluctuations used to generate an Euro-Millions bet">
		<link href="/static/css/bootstrap.css" rel="stylesheet">
	    <link href="/static/css/flat-ui.css" rel="stylesheet">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
		</script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

		<script src="/static/js/custom_radio.js"></script>
		<script src="/static/js/bootstrap-tooltip.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$("[data-toggle=tooltip]").tooltip("show");
				$("input[name=mail]").focus();
			});
			$(window).resize(function() {
				$("[data-toggle=tooltip]").tooltip("show");
			});
		</script>

	</head>
	<body>

		<div style="margin-left:5%; margin-top:16px; width:90%">
			<h1 style="text-align:center;"><a href="http://amazebet.com">Welcome to the Euro-millions bet generator!</a></h1>
			<div style="clear:both; overflow:visible;">
				<div style="float:left;">
					<h2 class="palette palette-info" style="margin-top:24px; width:240px; align:center; ">How it works:</h2>
				</div>
				<div class="fb-like" data-href="http://amazebet.com" data-send="true" data-width="450" data-show-faces="false" style="float:right; margin-top:48px; margin-left:12px;">
				</div>
			</div>
			<div style="clear:both;"></div>
			<h3 class="palette palette-info-dark">This tool provides a set of true random numbers (just hit Generate Bet!) and an optional set of rules that validate them, such as even, <a href="http://en.wikipedia.org/wiki/Prime_number" target="blank">prime numbers</a> or <a href="http://en.wikipedia.org/wiki/Fibonacci_number" target="blank">Fibonacci</a> occurences in the main sequence.</h3>
			{{if .Bet}}
			<div class="palette palette-success" style="overflow:auto; clear:both;">
				<div style="float:left; height:80px;">
					<h3 class="palette palette-success">
						Bet Numbers:
						{{range .Bet}} 
							<div class="badge"><h3>{{.}}</h3></div>
						{{end}}
						Stars:
						{{range .Stars}}
							<div class="badge"><h3>{{.}}</h3></div>
						{{end}}
					</h3>
					<p style="margin-top:-76px;" align="center" data-toggle="tooltip" data-placement="top" title="" data-original-title="
					{{if .Message}}
					{{.Message}}
					{{else}}
						Evens: {{.Evens}} Primes: {{.Primes}} Fibonacci: {{.Fibo}} Sum: {{.Sum}} High: {{.High}}
					{{end}}"></p>
				</div>
				<div style="float:left; margin-top:10px;">
					<h3 class="palette palette-success">
						<form action="/save">
							{{range $index, $element := .Bet}} 
								<input type="hidden" name="n{{$index}}" value="{{$element}}"/>
							{{end}}
							{{range $index, $element := .Stars}}
								<input type="hidden" name="s{{$index}}" value="{{$element}}"/>
							{{end}}
							<div style="float:left">
								<input type="text" placeholder="enter email to receive results" name="mail"/>
							</div>
							<div style="float:left; margin-left:24px; width:120px;">					
								<a href="javascript:void(0);" onclick="$(this).closest('form').submit()" class="btn btn-large btn-block btn-info">Save</a>
								<p align="center" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Only valid for the next draw"></p>
							</div>
						</form>
					</h3>
				</div>
			</div>
			{{end}}
			<div style="clear:both">
				<div style="float:left; margin-top:48px; margin-left:64px; width:380px; text-align:right;">
					<form action="/bet" method="post" id="conditions">
						Even numbers: <input type="text" placeholder="(0-5)" name="even"/><br>
						Prime numbers: <input type="text" placeholder="(0-5)" name="prime"><br>
						Fibonacci numbers: <input type="text" placeholder="(0-5)" name="fibonacci"><br>
						High numbers (>25): <input type="text" placeholder="(0-5)" name="high"><br>
						Sum (x ± 30): <input type="text" placeholder="(50-240)" name="sum"><br><br>
						<a href="javascript:void(0);" onclick="$(this).closest('form').submit()" class="btn btn-large btn-block btn-success">Generate Bet</a>
					</form>
				</div>
				
			</div>
			<div style="clear:both;"></div>
			<div style="margin-top:48px;">
				{{if .Results}}
					<h4 class="palette palette-clouds">
						Last draw numbers: &nbsp;
						{{.Results}} 
						&nbsp; &nbsp;Stars:
						{{.ResultsStars}} 
						&nbsp; &nbsp;
						Date: {{.ResultsDate}}
					</h4>
				{{end}}
			</div>
			<div style="clear:both;"></div>
			<div style="margin-top:24px;">
				<p>Euromillions numbers are randomly drawn, but they form patterns that can be studied and used to your advantage.</p>
				<p>The source of our true random numbers is <a href="http://150.203.48.55/RawHex.php" target="blank">http://150.203.48.55/RawHex.php</a>. It actually comes from measuring the quantum fluctuations of the vacuum! In other words, it's truly random.</p>
				<p>If you get a timeout message, it's because the generator gave up on finding random numbers to meet your input.</p>
				<p>The following are some of the patterns supported by Amazebet. Feel free to study the <a href="/stats">Stats</a> page to make the best decision.
				<h3>Prime Numbers</h3>
				<p>All prime numbers or all non prime numbers get rarely drawn. Learn from past draws and pick the best mix in the <a href="/stats">Stats</a> page.</p>	
				<h3>Odd-even Numbers</h3>
				<p>When selecting a set of Euro Millions numbers, try to have an even mix of odd and even numbers. All odd numbers or all even numbers are rarely drawn. Find the best mix in the <a href="/stats">Stats</a> page.</p>
				<h3>Fibonacci Numbers</h3>
				<p>From studying the past draws, you can see that picking at least a Fibonacci number is a good decision.
				<h3>High-low Numbers</h3>
				<p>As you can see it in our <a href="/stats">Stats</a> page, numbers are usually spread across the entire number field. All high or all low numbers are rare so you can take that information to choose a good mix, usually 3 highs (thus, 2 lows) or the inverse. We consider a high number if it's over 25.</p>
				<h3>Number Sum</h3>
				<p>Add together the five numbers you generated and try to have that sum within 30 of the average you see on the last 5 or 10 draws - You can check this in the <a href="/stats">Stats</a> page.</p>
				{{if .Counter}}
					<h2 style="margin-top:24px; font-weight:bold; text-align:center; ">
						{{.Counter}} bets generated!
					</h2>
				{{end}}
				<p style="text-align:center;"><a href="/stats">Stats</a></p>
				<p class="palette-paragraph" style="margin-top:32px; text-align:center;">Disclaimer: This project makes no promisse whatsoever as to increase your chances of winning any prize.</p>
				<p class="palette-paragraph" style="margin-top:8px; text-align:center;">{{.Duration}}</p>
			</div>
		</div>		
	</body>
</html>